## Zad. 1
### Dobierz optymalny klasyfikator, wykorzystując:
* #### walidację krzyżową dla k=10, 
* #### przydzielony do Ciebie typ scalera,
* #### przydzielony do Ciebie typ modelu. 

### Przeszukaj przestrzeń hiperparametrów w poszukiwaniu najlepszego modelu, który będzie skutecznie klasyfikował ludzi z cukrzycą (tzn. wskaże jak najwięcej osób chorych).

### Dla najlepszego modelu wyznacz (wartości średnie z walidacji krzyżowej):
* #### TP,
* #### TN,
* #### FP,
* #### FN,
* #### Accuracy,
* #### Precision,
* #### Recall,
* #### AUC.

### Wyniki przestaw w tabeli w Google Sheets, dołączając w kolumnie *info* wybrane optymalne hiperparamtery.

#### Poniżej kod, który pomoże Ci zacząć ;)

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [3]:
data = pd.read_csv('diabetes_ready.csv')

In [4]:
data.head()

,Continent_America,Continent_Asia,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
0,0,0,6,148.0,72.0,35.0,125.0,33.6,50.0,1
1,0,0,1,85.0,66.0,29.0,125.0,26.6,31.0,0
2,0,1,8,183.0,64.0,29.0,125.0,23.3,32.0,1
3,1,0,1,89.0,66.0,23.0,94.0,28.1,21.0,0
4,1,0,0,137.0,40.0,35.0,168.0,43.1,33.0,1

In [11]:
scaler = StandardScaler() # Twój scaler

In [13]:
data[['Pregnancies','Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'Age']] = scaler.fit_transform(X=data[['Pregnancies','Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'Age']])

In [14]:
data.head()

,Continent_America,Continent_Asia,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
0,0,0,0.639947,0.865644,-0.031990,0.710981,-0.181541,0.168033,1.436720,1
1,0,0,-0.844885,-1.205942,-0.528319,-0.002011,-0.181541,-0.851427,-0.187563,0
2,0,1,1.233880,2.016526,-0.693761,-0.002011,-0.181541,-1.332029,-0.102074,1
3,1,0,-0.844885,-1.074413,-0.528319,-0.715004,-0.540642,-0.632971,-1.042448,0
4,1,0,-1.141852,0.503939,-2.679076,0.710981,0.316566,1.551585,-0.016586,1

# $$ y $$

# $$ \hat{y} = \theta_0 + \theta_1 x_1   $$

# $$ \hat{y} = \theta_0 + \theta_1 x_1 + \theta_2 x_2 + \theta_3 x_3 + ... + \theta_n x_n   $$

# $$MSE = \frac{1}{m} \sum_{i=1}^{m} (\hat{y}^{(i)} - y^{(i)})^2$$

# $$ \hat{y} = \theta_0 + \theta_{11} x_1 + \theta_{12} x_1^2   $$

# $$ \hat{y} = \theta_0 + \theta_{11} x_1 + \theta_{12} x_1^2 + \theta_{21} x_2 + \theta_{22} x_2^2 + ... + \theta_{n1} x_n + \theta_{n2} x_n^2 $$

# $$ \hat{y} = \theta_0 + \theta_{11} x_1 + \theta_{12} x_1^2 + \theta_{13} x_1^3 + ... + \theta_{1p} x_1^p  $$